:host {
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    /* height: 100vh; */
    z-index: 100000;
    padding-top: 5px;

}

.slds-panel {
    width: 96px;
    border: 1px solid var(--lwr--color-black-50, #E8E9E9);
    border-radius: 12px;
    background: var(--com-c-country-picker-panel-background, var(--dxp-g-root));
}

.slds-panel__header {
    border-bottom: none;
    flex-direction: column;
    align-items: stretch;
}

.slds-panel__header-actions {
    align-self: flex-end;
    margin: var(--dxp-g-spacing-medium) var(--dxp-g-spacing-medium) 0 var(--dxp-g-spacing-medium);
}

.heading-title {
    padding: var(--com-c-country-picker-panel-vertical-padding, 0) var(--com-c-country-picker-panel-horizontal-padding, var(--dxp-g-spacing-xxlarge));
}