:root {
  /* Typography */
  --lwr--font-header: 'Poppins', sans-serif;
  --lwr--font-body: 'Inter', sans-serif;

  /* Typography Scale */
  --lwr-font-size-xxs: 10px;
  --lwr-font-size-xs: 12px;
  --lwr-font-size-sm: 14px;
  --lwr-font-size-md: 16px;
  --lwr-font-size-lg: 20px;
  --lwr-font-size-xl: 24px;
  --lwr-font-size-2xl: 32px;
  --lwr-font-size-3xl: 40px;
  --lwr-font-size-4xl: 56px;

  /* Blue Shades */
  --lwr--color-blue-50: #e6f4f6;
  --lwr--color-blue-50-rgb: 230, 244, 246;

  --lwr--color-blue-100: #b0dee4;
  --lwr--color-blue-100-rgb: 176, 222, 228;

  --lwr--color-blue-200: #8acedd;
  --lwr--color-blue-200-rgb: 138, 206, 215;

  --lwr--color-blue-300: #54b8c5;
  --lwr--color-blue-300-rgb: 84, 184, 197;

  --lwr--color-blue-400: #33aab9;
  --lwr--color-blue-400-rgb: 51, 170, 185;

  --lwr--color-blue-500: #0095a8;
  --lwr--color-blue-500-rgb: 0, 149, 168;

  --lwr--color-blue-600: #008899;
  --lwr--color-blue-600-rgb: 0, 136, 153;

  --lwr--color-blue-700: #006a77;
  --lwr--color-blue-700-rgb: 0, 106, 119;

  --lwr--color-blue-800: #00525c;
  --lwr--color-blue-800-rgb: 0, 82, 92;

  --lwr--color-blue-900: #003747;
  --lwr--color-blue-900-rgb: 0, 63, 71;

  /* Black Shades */
  --lwr--color-black-50: #e8e9e9;
  --lwr--color-black-50-rgb: 232, 233, 233;

  --lwr--color-black-100: #b9babc;
  --lwr--color-black-100-rgb: 185, 186, 188;

  --lwr--color-black-200: #97989b;
  --lwr--color-black-200-rgb: 151, 152, 155;

  --lwr--color-black-300: #67696e;
  --lwr--color-black-300-rgb: 103, 105, 110;

  --lwr--color-black-400: #494c51;
  --lwr--color-black-400-rgb: 73, 76, 81;

  --lwr--color-black-500: #1c1f26;
  --lwr--color-black-500-rgb: 28, 31, 38;

  --lwr--color-black-600: #191c23;
  --lwr--color-black-600-rgb: 25, 28, 35;

  --lwr--color-black-700: #14161b;
  --lwr--color-black-700-rgb: 20, 22, 27;

  --lwr--color-black-800: #0f1115;
  --lwr--color-black-800-rgb: 15, 17, 21;

  --lwr--color-black-900: #0c0d10;
  --lwr--color-black-900-rgb: 12, 13, 16;

  /* Red Shades */
  --lwr--color-red-100: #ffd8d8;
  --lwr--color-red-100-rgb: 255, 216, 216;

  --lwr--color-red-500: #ea4d4b;
  --lwr--color-red-500-rgb: 234, 77, 75;

  /* Green Shades */
  --lwr--color-green-100: #edffec;
  --lwr--color-green-100-rgb: 237, 255, 236;

  --lwr--color-green-500: #3d914d;
  --lwr--color-green-500-rgb: 61, 145, 77;

  /* Yellow Shades */
  --lwr--color-yellow-500: #ffcc66;
  --lwr--color-yellow-500-rgb: 255, 204, 102;
}