.inner-square-fill {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--com-c-commerce-product-variant-swatch-border-radius, 100px);
    overflow: hidden;
    position: relative;
}
.out-of-stock .inner-square-fill::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(45deg, transparent calc(50% - 1px), #1c1c1c 50%, transparent calc(50% + 1px));
}
.square-section {
    width: var(--com-c-commerce-product-card-swatch-color-size, 50px);
    height: var(--com-c-commerce-product-card-swatch-color-size, 50px);
    align-items: center;
    justify-content: center;
    display: flex;
    border: var(--dxp-s-form-element-width-border) solid;
    border-color: var(--com-c-commerce-product-variant-swatch-border-color, var(--dxp-g-neutral-2, #b9c0c8));
    border-radius: var(--com-c-commerce-product-variant-swatch-border-radius, 100px);
}
:host {
    display: flex;
    flex-shrink: 0;
    position: relative;
    scroll-snap-align: start;
}
.square-section.selected {
    box-shadow:
        0 0 0 2px var(--dxp-g-root),
        0 0 0 3px
            var(
                --com-c-commerce-product-variant-swatch-border-selected-color,
                var(--dxp-s-form-checkbox-color-border, #1c1c1c)
            );
}
.square-section:hover {
    box-shadow:
        0 0 0 2px var(--dxp-g-root),
        0 0 0 3px
            var(
                --com-c-commerce-product-variant-swatch-border-hover-color,
                var(--dxp-s-button-border-color-hover, #1c1c1c)
            );
}
.square-section:focus {
    box-shadow:
        0 0 0 2px var(--dxp-g-root),
        0 0 0 4px var(--dxp-s-button-border-color-focus, #1c1c1c);
    outline: none;
}
.custom-icon {
    --slds-c-icon-color-foreground-default: var(--dxp-g-neutral-2, #b9c0c8);
}
